{
    "presets": [
       "@babel/preset-typescript",
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "corejs": 3
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
       "styled-jsx/babel",
      "@babel/proposal-class-properties",
      "@babel/proposal-object-rest-spread"
    ]
}