<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>App</title>
  </head>
  <body>
    <h1> Top </h1>
    <div id="app">....</div>
    <h1> Bottom </h1>
    <script src="app.js"></script>
  </body>
</html>